body{
    position: relative;
    width: 100%;
    height: 100%;
    /*background: linear-gradiant(#E5E5E5,rgb(223, 223, 250));   */
    background: radial-gradient(#E5E5E5,#dfdefa);   
}

.logo{
    position: absolute;
    margin-left: 1%;
    margin-top: 2%;
    width: 10%;    
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    background-color: #fcf3f3f5;
    font-size: 18px;
    margin-top: 25%;
    text-transform: lowercase;
    padding: 25px;
    border-radius: 5%;    
}
::placeholder{ color: #0A3871;}
.text-area:focus{
    outline: none;
}
  
.mensaje{
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;    
    border: none;
    width: 20%;
    height: 60%;
    border-radius: 24px;
    color: #0A3871;   
    margin-top: 5%;    
    padding: 3%;
    position: absolute;
    margin-left: 1%;
}
.mensaje:focus{
    outline: none;

}
.botones{
    display: flex;
    margin-top: 18px;

}
.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 260px;
}
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 260px;
}
.btn-copiar{
    bottom: 19%;
    position: absolute;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 260px;
    margin-left: 5%;

}

.informacion{
    color: #495057;
    font-size: 12px;
}
footer p{   
   background-image: url(imagenes/footer.jpg);
   font-size: 10px;
   padding: 30px;
   font-style: italic; 
   font-weight: bold;  
   text-align: center;
   color: white;
   width: 100%;
   margin-top: 20px;
}